In [121]:
import pandas as pd

In [122]:
import sqlite3
con = sqlite3.connect('./data/Budget.db')
cur = con.cursor()
%load_ext sql
%sql sqlite:///./data/Budget.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [123]:
df_sample = pd.read_csv('./data/R_STATEMENT_SAMPLE.csv')

**Database table structure**

<table>
    <thead>
        <tr>
            <th>cid</th>
            <th>name</th>
            <th>type</th>
            <th>notnull</th>
            <th>dflt_value</th>
            <th>pk</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>transaction_id</td>
            <td>INTEGER</td>
            <td>1</td>
            <td>None</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>date</td>
            <td>TEXT</td>
            <td>1</td>
            <td>None</td>
            <td>0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>description</td>
            <td>TEXT</td>
            <td>0</td>
            <td>None</td>
            <td>0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>income</td>
            <td>NUMERIC</td>
            <td>1</td>
            <td>None</td>
            <td>0</td>
        </tr>
        <tr>
            <td>4</td>
            <td>spent</td>
            <td>NUMERIC</td>
            <td>1</td>
            <td>None</td>
            <td>0</td>
        </tr>
        <tr>
            <td>5</td>
            <td>balance</td>
            <td>NUMERIC</td>
            <td>1</td>
            <td>None</td>
            <td>0</td>
        </tr>
        <tr>
            <td>6</td>
            <td>currency</td>
            <td>TEXT</td>
            <td>1</td>
            <td>None</td>
            <td>0</td>
        </tr>
        <tr>
            <td>7</td>
            <td>event_id</td>
            <td>INTEGER</td>
            <td>0</td>
            <td>None</td>
            <td>0</td>
        </tr>
        <tr>
            <td>8</td>
            <td>category_id</td>
            <td>INTEGER</td>
            <td>0</td>
            <td>None</td>
            <td>0</td>
        </tr>
    </tbody>
</table>

In [124]:
df_sample = df_sample.dropna()
df_sample['spent'] = 0
df_sample['income'] = 0 
# df_sample['transaction_id'] = None
# # df_sample['event_id'] = None
# df_sample['category_id'] = None # i can this in UI as a parameter probabaly

In [ ]:
df_sample.head()

In [126]:
def spent_handler(row):
    if row['Amount'] < 0:
        return row['Amount']
    return 0
df_sample['spent'] = df_sample.apply(spent_handler, axis=1)

In [127]:
def income_handler(row):
    if row['Amount'] > 0:
        return row['Amount']
    return 0
df_sample['income'] = df_sample.apply(income_handler, axis=1)

In [128]:
get_column = ['Completed Date',
              'Description',
              'income',
              'spent',
              'Balance',
              'Currency',
              'event_id',
              'category_id',
              ]
df= df_sample.filter(get_column)
# 'transaction_id',

In [ ]:
df

In [130]:
df = df.rename({'Completed Date': 'date', 
           'Description': 'description',
           'Balance': 'balance',
           'Currency': 'currency'}, 
           axis=1)

In [131]:
df.to_sql('Transactions', con, if_exists='append', index = False, method='multi')

In [ ]:
%sql select * from Transactions limit 10